<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!-- $Id: $ -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="description" content="description"/>
<meta name="keywords" content="Radegast Second Life viewer update application"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/static/default.css"/>
<title>Radegast Update Application</title>
</head>

<body>

<div class="main">

    <div class="gfx"><h1>Radegast Update</h1></div>

    <div class="menu">
        <a href="/" title="Start Page">Start</a>
        <a href="http://www.radegastclient.org/" title="Radegast Main Site">Radegast Main Site</a>
        <a href="http://code.google.com/p/radegast/downloads/list" title="Radegast Downloads">Radegast Downloads</a>
        <a href="/admin/" title="For administrators only!">Admin login</a>

    </div>

    <div class="content">

    {% block content %}{% endblock %}

    </div>

    <div class="footer">
    
        <span class="left">&copy; 2009 <a href="#">Latif Khalifa</a></span>
        
        <!--span class="right">Powered by <a href="http://openmetaverse.org/">LIBOPENMV</a></span-->

        <div class="clearer"><span></span></div>

    </div>

</div>

</body>

</html>