{% extends "base.html" %}

{% block content %}
<div class="item">
<h1>Radegast Update Application</h1>
<p>&nbsp;</p>
<p>
    This web site provides facilities for automatic checking of available
    updates for <a href="http://www.radegastclient.org/" title="Radegast
    Metaverse Client">Radegast Metaverse Client</a>, and it is not meant to
    be accessed directly by the browser.
</p>
<p>
    Use Help -&gt; Check for Updates... menu option in Radegast to check for
    updates.
</p>
</div>
{% endblock %}